body {
    background-color: #a3d5d3;
  }
  #hero {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 600px;
  }
  #villain {
    position: absolute;
    top: 90px;
    left: 800px;
    height: 500px;
  }
  #lightning {
    position: absolute;
    top: 320px;
    left: 290px;
    height: 120px;
    width: 120px;
  }